html{
  scroll-behavior: smooth;
  max-width: 100%;
  transition: 350ms;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  background: #ffffff;
  transition: 350ms;
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 94, 0); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 66, 0); 
}